.Card {
    display: flex;
    flex-direction: column;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    width: calc(33.33% - 20px);
    margin-bottom: 20px;
}

.Card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.15);
}

.Card h4 {
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: #333;
}

.Card p {
    margin: 5px 0;
    color: #555;
    font-size: 1rem;
}



select {
    padding: 8px 12px;
    border: 1p
}